

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');









.home-page{
  /* background-color: black; */
    background-image: url('../image/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
   
}
.navbar {
    font-family: "Outfit", sans-serif;
    padding: 0 60px;
    top: 0;
  
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.064), 0 6px 20px 0 rgba(0, 0, 0, 0.16); */
  
  }
.logo {
    width: 90px;
    height: auto;
    padding: 0px;
  }

  .list-item li a {
    font-family: "Outfit", sans-serif;

    color:white;
    text-decoration: none;
    font-size: 12px;
  }
  .list-item {
    list-style-type: none;
    padding:0 0;
    display: flex;
    margin: 0 0;
    position: relative;
    left: 26px;
  }
  .list-item li {
    margin: 0px 30px;
  }
  .vigor-sec{
    padding: 0px 60px;
  }
  .emp{
    font-family: "Outfit", sans-serif;
 font-size: 50px;
 font-weight: 600;
 color: white;
 margin-top: 100px;
  }
  .nex{
    font-family: "Outfit", sans-serif;
    color: white;
    font-size: 32px;
    font-weight: 200;
}
.vig{
    font-family: "Outfit", sans-serif;
 font-size: 100px;
 font-weight: 700;
 color: rgba(255, 255, 255, 0.39);
 margin-top: 80px;
  }
  .vig-img{
    width: 80%;
    height: auto;
    margin-top: 80px;

  }
  canvas.custom-canvas {
   position: fixed;
    background: transparent;
  }
 